body {
  background-color: #f4f5f9;
}

.rounded-4 {
  border-radius: 25px;
}

.custom-shadow {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menu {
  display: none;
}

.sidebar-item {
  text-decoration: none;
  color: white;
}

footer {
  background-color: white;
}

.footer-link1{
  font-size: 14px;
}

.footer-link1 a{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.footer-link2{
  font-size: 12px;
}

.footer-link2 a{
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.bg-info-custom {
  background-color: #42A5F6;
}

.text-info-custom {
  color: #42A5F6;
}

table, tr, td {
  border: 0px solid black;
  margin-left: 0px;
}

.table-center {
  text-align:center ;
}

.text-content-judul {
    font-family: Poppins;
    color: #000000;
}

.text-content {
    font-family: Poppins;
    color: #666666;
}

#profile-photo-profile {
  position: absolute; 
  display: block; 
  z-index:1; 
  margin-top: -70px;
  margin-left: 30px;
}




@media only screen and (max-width: 600px){
  #navbar {
    width: 100% !important;
  }

  #profile-photo-profile {
    position: relative; 
    display: block; 
    z-index: 0; 
    margin-top: 20px;
    margin: auto;
  }

  #cardheader .row div{
    margin: auto;
    text-align: center;
  }

  #menu {
    display: block;
  }
  #selamat-datang {
    visibility: hidden;
    display: none;
  }
  #lonceng {
    visibility: hidden;
    display: none;
  }
  #m-sidebar {
    visibility: visible;
  }
  #search-box {
    margin-top: 10px;
  }
  #profile-header {
    display: none;
  }
  #img-profile {
    margin-top: 10px;
  }
  .footer-link1{
    font-size: 12px;
    flex-direction: column;
  }

  #bell-icon {
    visibility: hidden;
    display: none;
  }


  .search-icon {
    float: right;
    margin-top: 20px;
    margin-left: 250px;
    position: absolute;
    z-index: 2;
    color: black;
  }
  
    
  
}
@media only screen and (max-width: 1521px){
  #navbar {
    width: 100% !important;
  }

  #profile-photo-profile {
    position: relative; 
    display: block; 
    z-index: 0; 
    margin-top: 20px;
    margin: auto;
  }

  #cardheader .row div{
    margin: auto;
    text-align: center;
  }

  #menu {
    display: block;
  }
  #selamat-datang {
    visibility: hidden;
    display: none;
  }
  #lonceng {
    visibility: hidden;
    display: none;
  }
  #m-sidebar {
    visibility: visible;
  }
  #search-box {
    margin-top: 10px;
  }
  #profile-header {
    display: none;
  }
  #img-profile {
    margin-top: 10px;
  }
  .footer-link1{
    font-size: 12px;
    flex-direction: column;
  }

  #bell-icon {
    visibility: hidden;
    display: none;
  }


  .search-icon {
    float: right;
    margin-top: 20px;
    margin-left: 250px;
    position: absolute;
    z-index: 2;
    color: black;
  }
}
